:root {
  --bleeding: 0.5cm;
  --margin: 1cm;
}

@page {
  size: A4;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
}
h1 { text-decoration: underline; }

h4 {
  margin-top: 2px;
  margin-bottom: 5px;
}

h6 {margin: 0;}

/* Utility Classes */

.center { text-align: center;}
.centered { margin: 0 auto;}
.mt-150 {margin-top: 40px;
margin-bottom: 120px;}
.resized {
  width: 110px;
  display: inline-block;
}

.left { float: left; }
.right{ float: right; }
.clearfix {clear: both;}
.underline{text-decoration: underline;}

.page {
  display: inline-block;
  position: relative;
  height: 297mm;
  width: 210mm;
  font-size: 12pt;
  margin: 2em auto;
  padding: calc(var(--bleeding) + var(--margin));
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  background: white;
}

.m-6 { margin: 6rem 0;}

@media screen {
  .page::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - var(--bleeding) * 2);
    height: calc(100% - var(--bleeding) * 2);
    margin: var(--bleeding);
    outline: thin dashed black;
    pointer-events: none;
    z-index: 9999;
  }
}

@media print {
  .page {
    margin: 0;
    overflow: hidden;
  }
}

#qrcode img {
  margin: 0 auto;

}
